In [1]:
import requests
import pandas as pd
import numpy as np
import os
import time

import datetime
import time
import json
from  pandas import DataFrame

In [2]:
dir = os.listdir('./data')
dir.sort()
xlsx_list = [ file for file in dir if file.startswith('BoxOffice')]

In [3]:
xlsx_list

['BoxOffice_2008.xlsx',
 'BoxOffice_2009.xlsx',
 'BoxOffice_2010.xlsx',
 'BoxOffice_2011.xlsx',
 'BoxOffice_2012.xlsx',
 'BoxOffice_2013.xlsx',
 'BoxOffice_2014.xlsx',
 'BoxOffice_2015.xlsx',
 'BoxOffice_2016.xlsx',
 'BoxOffice_2017.xlsx']

In [4]:
for i, data in enumerate(xlsx_list):
    if i == 0:
        df = pd.read_excel('./data/'+data)
    else:
        small_df = pd.read_excel('./data/'+data)
        df = pd.concat([df, small_df])
df

,기간별 박스오피스 검색 리스트,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,순위,영화명,개봉일,매출액,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
2,NaN,NaN,NaN,NaN,점유율,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,"좋은 놈, 나쁜 놈, 이상한 놈",2008-07-17 00:00:00,43747552000,0.046,43747552000,6684933,6684933,824,93477,한국,한국,"(주)다크서클픽쳐스,(주)바른손이앤에이",씨제이엔터테인먼트,15세이상관람가,"서부극(웨스턴),액션,어드벤처",김지운,"송강호,이병헌,정우성,오달수,엄지원,김광일,손병호,이청아,김선영,성정훈,송승현,신상..."
4,2,추격자,2008-02-14 00:00:00,33986959000,0.035,33986959000,5046096,5046096,433,106805,한국,한국,(주)영화사비단길,(주)쇼박스,청소년관람불가,"범죄,스릴러,액션",나홍진,"김윤석,하정우,서영희,박효주,김유정,최정우,정인기,최지윤,김은성,최홍석,박지안,박진..."
5,3,쿵푸 팬더,2008-06-05 00:00:00,29996476000,0.031,29996476000,4653929,4653929,563,79850,미국,미국,NaN,씨제이엔터테인먼트,전체관람가,"애니메이션,코미디,액션,가족","마크 오스본,존 스티븐슨","더스틴 호프만,루시 루,잭 블랙,안젤리나 졸리,성룡,김기현"
6,4,맘마미아!,2008-09-03 00:00:00,29571255750,0.031,29571255750,4552475,4552475,451,111024,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"멜로/로맨스,뮤지컬",필리다 로이드,"아만다 사이프리드,메릴 스트립,콜린 퍼스"
7,5,과속스캔들,2008-12-03 00:00:00,28506879500,0.03,28506879500,4361509,4361509,408,62296,한국,한국,"(주)토일렛픽쳐스,(주)디씨지플러스",롯데쇼핑㈜롯데엔터테인먼트,12세이상관람가,코미디,강형철,"차태현,박보영,왕석현,임지규,황우슬혜,정원중,김기방,김혜진,노수정,류수경,김준호,문..."
8,6,강철중: 공공의 적 1-1,2008-06-19 00:00:00,28638460100,0.03,28638460100,4313101,4313101,707,74157,한국,한국,"(주)시네마서비스글로벌,(주)시네마서비스","씨제이엔터테인먼트,(주)시네마서비스",15세이상관람가,"드라마,액션",강우석,"설경구,정재영,강신일,유해진,탁트인,이상현,김윤성,이재원,조한영,박창용,박태훈,김건..."
9,7,아이언맨,2008-04-30 00:00:00,27798047000,0.029,27798047000,4290816,4290816,592,77942,미국,미국,NaN,씨제이엔터테인먼트,12세이상관람가,"SF,드라마,액션",존 파브로,"로버트 다우니 주니어,테렌스 하워드,제프 브리지스,기네스 팰트로우"
10,8,인디아나 존스 4 : 크리스탈 해골의 왕국,2008-05-22 00:00:00,26689440000,0.028,26689440000,4111753,4111753,771,75393,미국,미국,NaN,씨제이엔터테인먼트,12세이상관람가,"액션,어드벤처",스티븐 스필버그,"해리슨 포드,샤이아 라보프"
11,9,미이라 3:황제의 무덤,2008-07-30 00:00:00,26217311000,0.027,26217311000,4090885,4090885,634,64779,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"액션,어드벤처,판타지",롭 코헨,"브렌든 프레이저,마리아 벨로,이연걸"
12,10,다크 나이트,2008-08-06 00:00:00,26878184500,0.028,26878184500,4060490,4060490,462,63561,미국,미국,NaN,"주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)",15세이상관람가,"범죄,드라마,액션,미스터리",크리스토퍼 놀란,"크리스찬 베일,마이클 케인,히스 레저,아론 에크하트,매기 질렌할,게리 올드만,모건 프리먼"
13,11,우리 생애 최고의 순간,2008-01-10 00:00:00,26113394000,0.027,26119898000,4018059,4018872,418,70721,한국,한국,(주)엠케이픽처스,(주)싸이더스,전체관람가,드라마,임순례,"문소리,김정은,엄태웅,김지영,조은지,이미도,조영진,이봉규,정석용,하정우,정세형,김종..."
14,12,신기전,2008-09-04 00:00:00,24326353000,0.025,24326353000,3728430,3728430,585,78462,한국,한국,(주)시네마서비스글로벌,씨제이엔터테인먼트,15세이상관람가,"사극,드라마,액션,전쟁",김유진,"정재영,한은정,안성기,허준호,김명수,신정근,조원희,이광희,박윤희,조주현,최만수,박보..."
15,13,원티드,2008-06-26 00:00:00,19249245000,0.02,19249245000,2858720,2858720,512,55001,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),청소년관람불가,"스릴러,액션",티무르 베크맘베토브,"제임스 맥어보이,안젤리나 졸리,모건 프리먼"
16,14,핸콕,2008-07-02 00:00:00,17844690500,0.019,17844690500,2722574,2722574,602,60236,미국,미국,NaN,한국소니픽쳐스릴리징브에나비스타영화㈜,12세이상관람가,"액션,드라마,코미디",피터 버그,"윌 스미스,샤를리즈 테론"
17,15,테이큰,2008-04-09 00:00:00,15971449000,0.017,15971449000,2359061,2359061,256,60944,프랑스,프랑스,NaN,㈜스튜디오이쩜영,청소년관람불가,"범죄,스릴러,액션",피에르 모렐,"리암 니슨,매기 그레이스"
18,16,미인도,2008-11-13 00:00:00,15652272500,0.016,15652272500,2341521,2341521,450,69444,한국,한국,"㈜이룸영화사,(주)영화사참",씨제이엔터테인먼트,청소년관람불가,"사극,드라마,멜로/로맨스",전윤수,"김민선,김영호,김남길,추자현,한명구,이성훈,강민호,박예슬,박용,김형수,신주희,황선환..."
19,17,이글 아이,2008-10-09 00:00:00,14869812500,0.015,14869812500,2292172,2292172,407,59132,미국,미국,NaN,씨제이엔터테인먼트,12세이상관람가,"액션,스릴러,미스터리",D.J. 카루소,"샤이아 라보프,미셸 모나한,도니 제프콧"
20,18,007 퀀텀 오브 솔러스,2008-11-05 00:00:00,14389307000,0.015,14389307000,2205159,2205159,520,70774,미국,미국,NaN,한국소니픽쳐스릴리징브에나비스타영화㈜,15세이상관람가,"액션,어드벤처",마크 포스터,"다니엘 크레이그,올가 큐리렌코,매티유 아맬릭"
21,19,눈에는 눈 이에는 이,2008-07-31 00:00:00,13410811500,0.014,13410811500,2058616,2058616,445,46474,한국,한국,(주)태원엔터테인먼트,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"범죄,스릴러,액션","곽경택,안권태","한석규,차승원,송영창,김윤태,이병준,김혜정,박영찬,홍의정,최지혜,임성규,신창수,박정..."
22,20,아내가 결혼했다,2008-10-23 00:00:00,12062180000,0.013,12062180000,1799447,1799447,417,57496,한국,한국,(주)주피터필름,씨제이엔터테인먼트,청소년관람불가,"멜로/로맨스,드라마",정윤수,"손예진,김주혁,주상욱,이주실,천성훈,오정세,김병춘,정세형"
23,21,님은 먼 곳에,2008-07-24 00:00:00,11205439000,0.012,11205439000,1706037,1706037,499,36555,한국,"한국,태국",(주)타이거픽쳐스,(주)쇼박스,15세이상관람가,"드라마,전쟁",이준익,"수애,정진영,정경호,주진모,조미령,홍영승,한성수,릭키 준,서성만,장재욱,이홍복,김장..."
24,22,점퍼,2008-02-14 00:00:00,10943088000,0.011,10943088000,1665268,1665268,350,43335,미국,미국,NaN,이십세기폭스필름코퍼레이션,15세이상관람가,"SF,드라마,어드벤처",더그 라이만,"레이첼 빌슨,헤이든 크리스텐슨,제이미 벨"
25,23,고死 : 피의 중간고사,2008-08-07 00:00:00,10300791000,0.011,10300791000,1634192,1634192,270,42719,한국,한국,"(주)코어콘텐츠미디어,(주)워터앤트리",에스케이텔레콤(주),15세이상관람가,"공포(호러),스릴러",창,"이범수,남규리,김범,박우람,조기원,김형진,권현상,진성,백하나,이효연,윤정희,양지원,..."
26,24,무방비도시,2008-01-10 00:00:00,10591149500,0.011,10591149500,1600856,1600856,336,38306,한국,한국,쌈지아이비젼영상사업단,씨제이엔터테인먼트,15세이상관람가,"범죄,액션",이상기,"김명민,손예진,김해숙,김준배,김정태,홍의정,신창수,김병옥,박종희,심민섭,박찬형,황혜..."
27,25,적벽대전:거대한 전쟁의 시작,2008-07-10 00:00:00,10192112500,0.011,10192112500,1570703,1570703,447,32719,중국,중국,NaN,(주)쇼박스,15세이상관람가,"액션,드라마,전쟁",오우삼,"양조위,금성무,장첸,나카무라 시도,호군,장풍의,조미,즈링 린/임지령"
28,26,원스어폰어타임,2008-01-31 00:00:00,10136738500,0.011,10136738500,1544486,1544486,314,37679,한국,한국,윈엔터테인먼트,(유)씨에이치엔터테인먼트,12세이상관람가,"액션,코미디","정용기,이현석","박용우,서민균,이보영,심호성,김수현,김응수,성동일,강규영,강동원,신성식,김은혜,박현..."
29,27,더 게임,2008-01-30 00:00:00,9807963501,0.01,9807963501,1479859,1479859,338,31877,한국,한국,(주)프라임엔터테인먼트,NaN,15세이상관람가,스릴러,윤인호,"변희봉,손현주,신하균,이혜영,김혁,노승범,박유리,김효배,박유리,차승환,김석현,유영권..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4780,4652,잡스,2013-08-29 00:00:00,0,0,1594901136,0,225343,1,1,미국,미국,NaN,(주)넥스트엔터테인먼트월드(NEW),12세이상관람가,드라마,조슈아 마이클 스턴,"애쉬튼 커처,조시 게드,더못 멀로니,매튜 모딘"
4781,4652,장군의 아들,1990-06-09 00:00:00,0,0,5959000,0,2974,1,1,한국,한국,태흥영화(주),NaN,고등학생이상관람가,"드라마,액션",임권택,"김형일,이일재,방은희,박상민,양택조,신현준,김승우,김해곤,손호균"
4782,4652,접속,1997-09-13 00:00:00,0,0,2833000,0,360,1,1,한국,한국,(주)명필름,NaN,고등학생이상관람가,"멜로/로맨스,드라마",장윤현,"한석규,전도연,추상미,김태우,이범수,이장욱,최철호"
4783,4652,제1회 울주세계산악영화제 우리들의 영화,NaN,0,0,0,0,0,1,2,기타,기타,NaN,NaN,NaN,기타,"김진국,전현교,김지혁,남해원,박예람,정희중,우준희",NaN
4784,4652,조용한 가족,1998-04-25 00:00:00,0,0,314500,0,41,1,2,한국,한국,(주)명필름,NaN,18세 미만인 자는 관람할 수 없는 등급,"드라마,미스터리,코미디",김지운,"나문희,박인환,최민식,정재영,송강호,이기영,조덕제,기주봉,최철호"
4785,4652,족보,1979-09-14 00:00:00,0,0,78000,0,9,1,2,한국,한국,(주)화천공사,NaN,국민학생관람불가,"드라마,멜로/로맨스",임권택,"주선태,하명중,한혜숙,독고성,최남현,최재호"
4786,4652,지역초청 - 2017 전북독립영화제,NaN,0,0,0,0,0,1,1,한국,한국,NaN,NaN,NaN,기타,NaN,NaN
4787,4652,집으로 가는길,2000-11-04 00:00:00,0,0,0,0,0,1,2,중국,중국,NaN,NaN,12세관람가,드라마,장예모,"장쯔이,손홍뢰"
4788,4652,참새들의 합창,2010-05-05 00:00:00,0,0,27705500,0,3827,1,1,이란,이란,마지드 마지디,(주)유니코리아문예투자,전체관람가,드라마,마지드 마지디,"레자 나지,오셍 아가지"
4789,4652,책상 서랍 속의 동화,1999-10-30 00:00:00,0,0,0,0,0,1,2,중국,중국,"콜럼비아 픽쳐스 코포레이션,구앙시필름즈튜디오",NaN,전체관람가,드라마,장예모,"장휘거,웨이 민치,티안 젠다"
4790,4652,처녀들의 저녁식사,1998-10-03 00:00:00,0,0,212000,0,38,1,1,한국,한국,우노필름,NaN,18세 미만인 자는 관람할 수 없는 등급,"드라마,멜로/로맨스",임상수,"강수연,진희경,김여진,조재현,김광수,조상건,이인철,설경구,김응수"
4791,4652,천년호,NaN,0,0,1218000,0,609,1,2,한국,한국,NaN,NaN,NaN,"사극,공포(호러)",신상옥,김혜정
4792,4652,천리주단기,2006-07-20 00:00:00,0,0,11042000,0,1613,1,2,중국,"중국,일본",NaN,소니픽쳐스릴리징코리아,전체관람가,드라마,장예모,다카쿠라 켄
4793,4652,춘향뎐(春香傳),2000-01-29 00:00:00,0,0,1616000,0,551,1,2,한국,한국,태흥영화(주),NaN,12세관람가,"드라마,사극",임권택,"조승우,이효정,조현철,박길수,이혜은,이도겸"
4794,4652,친구엄마,2015-11-12 00:00:00,0,0,2057000,0,359,1,1,한국,한국,밀크픽처스,노바엔터테인먼트,청소년관람불가,"멜로/로맨스,드라마",공자관,"김영삼,아리,김해진,이승용,안광연,명지훈"
4795,4652,커커시리: 마운틴 패트롤,NaN,0,0,0,0,0,1,2,중국,"중국,홍콩",NaN,NaN,NaN,"액션,드라마",루 추안,NaN
4796,4652,코지 판 투테,NaN,0,0,0,0,0,4,25,영국,영국,NaN,에스디시코리아 주식회사,12세이상관람가,공연,얀 필립 글로거,NaN
4797,4652,크로거 산장+호랑이 그리기,NaN,0,0,0,0,0,1,1,기타,기타,NaN,NaN,NaN,기타,"딘 레슬리,에이미 벤슨,스콧 스콰이어,람야타 림부",NaN
4798,4652,태양은 없다,1999-01-01 00:00:00,0,0,0,0,0,1,2,한국,한국,(주)우노필름,NaN,18세 미만인 자는 관람할 수 없는 등급,"드라마,액션",김성수,"정우성,문소연,박지훈,이정재,이범수,한고은,박성웅,이기열,이봉규"
4799,4652,투게더,2003-03-14 00:00:00,0,0,563000,0,92,1,2,중국,중국,NaN,(주)씨네월드,전체관람가,드라마,첸 카이거,페이치 류
4800,4652,페데리코 펠리니 회고전,NaN,0,0,20279000,0,3689,1,3,이탈리아,이탈리아,NaN,NaN,NaN,기타,NaN,NaN
4801,4652,페르쇼가의 장남,NaN,0,0,0,0,0,1,1,프랑스,"프랑스,이탈리아",NaN,NaN,NaN,기타,장 피에르 멜빌,NaN
4802,4652,하늘의 황금마차,2014-09-04 00:00:00,0,0,20051300,0,2703,1,1,한국,한국,"국가인권위원회,주식회사 자파리필름",(주)영화사 진진,12세이상관람가,드라마,오멸,"문석범,김동호,양정원,이경준,킹스턴 루디스카,성낙원,손형식,장정인,조상원,조수범,한승진"
4803,4652,하루,2015-08-06 00:00:00,0,0,15123500,0,2191,1,3,이란,이란,NaN,THE 픽쳐스,15세이상관람가,드라마,레자 미르카리미,"파비즈 파라스투이,소헤일라 고레스타니"
4804,4652,학과 함께 날다,NaN,0,0,0,0,0,1,2,중국,중국,NaN,NaN,NaN,드라마,리루이쥔,NaN
4805,4652,해양천국,NaN,0,0,1208000,0,140,1,2,중국,중국,NaN,NaN,NaN,드라마,설효로,이연걸
4806,4652,혈맥,NaN,0,0,36000,0,6,1,2,한국,한국,NaN,NaN,전체관람가,드라마,김수용,"김지미,황정순,최남현"
4807,4652,호프만 이야기,2017-07-19 00:00:00,0,0,0,0,0,6,35,영국,영국,NaN,에스디시코리아 주식회사,12세이상관람가,공연,존 슐레진저,NaN
4808,4652,훌리오와 에밀리아,2012-08-30 00:00:00,0,0,11892500,0,1763,1,2,칠레,"칠레,아르헨티나,포르투갈,프랑스",NaN,찬란,청소년관람불가,드라마,크리스티안 히메네즈,"디에고 노구에라,나탈리아 갈가니,트리니다드 곤잘레즈"
4809,합계,NaN,NaN,1756577851113,NaN,4994875043170,219876227,650269619,165937,6261651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df.iloc[:, 0:12]
df = df.dropna()
df.columns = ['rank', 'movieNm','openDt', 'sales', 'salesShare', 'salesAcc', 'audiCnt', 'audiCntAcc','scrnCnt', 'showCnt', 'Nation', '0']
df = df.drop(1,0)
df = df.drop('0', axis=1)
df

,rank,movieNm,openDt,sales,salesShare,salesAcc,audiCnt,audiCntAcc,scrnCnt,showCnt,Nation
3,1,"좋은 놈, 나쁜 놈, 이상한 놈",2008-07-17 00:00:00,43747552000,0.046,43747552000,6684933,6684933,824,93477,한국
4,2,추격자,2008-02-14 00:00:00,33986959000,0.035,33986959000,5046096,5046096,433,106805,한국
5,3,쿵푸 팬더,2008-06-05 00:00:00,29996476000,0.031,29996476000,4653929,4653929,563,79850,미국
6,4,맘마미아!,2008-09-03 00:00:00,29571255750,0.031,29571255750,4552475,4552475,451,111024,미국
7,5,과속스캔들,2008-12-03 00:00:00,28506879500,0.03,28506879500,4361509,4361509,408,62296,한국
8,6,강철중: 공공의 적 1-1,2008-06-19 00:00:00,28638460100,0.03,28638460100,4313101,4313101,707,74157,한국
9,7,아이언맨,2008-04-30 00:00:00,27798047000,0.029,27798047000,4290816,4290816,592,77942,미국
10,8,인디아나 존스 4 : 크리스탈 해골의 왕국,2008-05-22 00:00:00,26689440000,0.028,26689440000,4111753,4111753,771,75393,미국
11,9,미이라 3:황제의 무덤,2008-07-30 00:00:00,26217311000,0.027,26217311000,4090885,4090885,634,64779,미국
12,10,다크 나이트,2008-08-06 00:00:00,26878184500,0.028,26878184500,4060490,4060490,462,63561,미국
13,11,우리 생애 최고의 순간,2008-01-10 00:00:00,26113394000,0.027,26119898000,4018059,4018872,418,70721,한국
14,12,신기전,2008-09-04 00:00:00,24326353000,0.025,24326353000,3728430,3728430,585,78462,한국
15,13,원티드,2008-06-26 00:00:00,19249245000,0.02,19249245000,2858720,2858720,512,55001,미국
16,14,핸콕,2008-07-02 00:00:00,17844690500,0.019,17844690500,2722574,2722574,602,60236,미국
17,15,테이큰,2008-04-09 00:00:00,15971449000,0.017,15971449000,2359061,2359061,256,60944,프랑스
18,16,미인도,2008-11-13 00:00:00,15652272500,0.016,15652272500,2341521,2341521,450,69444,한국
19,17,이글 아이,2008-10-09 00:00:00,14869812500,0.015,14869812500,2292172,2292172,407,59132,미국
20,18,007 퀀텀 오브 솔러스,2008-11-05 00:00:00,14389307000,0.015,14389307000,2205159,2205159,520,70774,미국
21,19,눈에는 눈 이에는 이,2008-07-31 00:00:00,13410811500,0.014,13410811500,2058616,2058616,445,46474,한국
22,20,아내가 결혼했다,2008-10-23 00:00:00,12062180000,0.013,12062180000,1799447,1799447,417,57496,한국
23,21,님은 먼 곳에,2008-07-24 00:00:00,11205439000,0.012,11205439000,1706037,1706037,499,36555,한국
24,22,점퍼,2008-02-14 00:00:00,10943088000,0.011,10943088000,1665268,1665268,350,43335,미국
25,23,고死 : 피의 중간고사,2008-08-07 00:00:00,10300791000,0.011,10300791000,1634192,1634192,270,42719,한국
26,24,무방비도시,2008-01-10 00:00:00,10591149500,0.011,10591149500,1600856,1600856,336,38306,한국
27,25,적벽대전:거대한 전쟁의 시작,2008-07-10 00:00:00,10192112500,0.011,10192112500,1570703,1570703,447,32719,중국
28,26,원스어폰어타임,2008-01-31 00:00:00,10136738500,0.011,10136738500,1544486,1544486,314,37679,한국
29,27,더 게임,2008-01-30 00:00:00,9807963501,0.01,9807963501,1479859,1479859,338,31877,한국
30,28,나니아 연대기:캐스피언 왕자,2008-05-15 00:00:00,9236619000,0.01,9236619000,1468903,1468903,604,43010,미국
31,29,월ㆍE,2008-08-06 00:00:00,8289679500,0.009,8289679500,1325834,1325834,347,32819,미국
32,30,영화는 영화다,2008-09-11 00:00:00,8967253000,0.009,8967253000,1311071,1311071,315,37337,한국
...,...,...,...,...,...,...,...,...,...,...,...
4753,4652,아름다운 청년 전태일,1995-11-18 00:00:00,0,0,118000,0,21,1,1,한국
4759,4652,안개,1967-10-19 00:00:00,0,0,574000,0,287,1,2,한국
4760,4652,안개마을,1983-02-12 00:00:00,0,0,959000,0,147,1,2,한국
4763,4652,야행,1977-04-23 00:00:00,0,0,496000,0,248,1,2,한국
4764,4652,어둔 밤,2018-09-06 00:00:00,0,0,0,0,0,1,1,한국
4767,4652,와즈다,2014-06-19 00:00:00,0,0,80387200,0,11197,1,2,기타
4768,4652,욕망의 모호한 대상,1999-03-27 00:00:00,0,0,55000,0,6,1,2,프랑스
4770,4652,우주의 크리스마스,2016-10-13 00:00:00,0,0,15825500,0,2132,1,2,한국
4772,4652,워킹 스트리트,2016-11-17 00:00:00,0,0,4020100,0,664,1,1,한국
4775,4652,인정사정 볼 것 없다,1999-07-31 00:00:00,0,0,1943500,0,270,1,2,한국
4777,4652,작은 형,2016-11-30 00:00:00,0,0,11721500,0,1853,1,3,한국
4778,4652,잔느 딜망,2008-05-09 00:00:00,0,0,2166000,0,305,1,1,프랑스
4780,4652,잡스,2013-08-29 00:00:00,0,0,1594901136,0,225343,1,1,미국
4781,4652,장군의 아들,1990-06-09 00:00:00,0,0,5959000,0,2974,1,1,한국
4782,4652,접속,1997-09-13 00:00:00,0,0,2833000,0,360,1,1,한국
4784,4652,조용한 가족,1998-04-25 00:00:00,0,0,314500,0,41,1,2,한국
4785,4652,족보,1979-09-14 00:00:00,0,0,78000,0,9,1,2,한국
4787,4652,집으로 가는길,2000-11-04 00:00:00,0,0,0,0,0,1,2,중국
4788,4652,참새들의 합창,2010-05-05 00:00:00,0,0,27705500,0,3827,1,1,이란
4789,4652,책상 서랍 속의 동화,1999-10-30 00:00:00,0,0,0,0,0,1,2,중국
4790,4652,처녀들의 저녁식사,1998-10-03 00:00:00,0,0,212000,0,38,1,1,한국
4792,4652,천리주단기,2006-07-20 00:00:00,0,0,11042000,0,1613,1,2,중국
4793,4652,춘향뎐(春香傳),2000-01-29 00:00:00,0,0,1616000,0,551,1,2,한국
4794,4652,친구엄마,2015-11-12 00:00:00,0,0,2057000,0,359,1,1,한국
4798,4652,태양은 없다,1999-01-01 00:00:00,0,0,0,0,0,1,2,한국
4799,4652,투게더,2003-03-14 00:00:00,0,0,563000,0,92,1,2,중국
4802,4652,하늘의 황금마차,2014-09-04 00:00:00,0,0,20051300,0,2703,1,1,한국
4803,4652,하루,2015-08-06 00:00:00,0,0,15123500,0,2191,1,3,이란
4807,4652,호프만 이야기,2017-07-19 00:00:00,0,0,0,0,0,6,35,영국
4808,4652,훌리오와 에밀리아,2012-08-30 00:00:00,0,0,11892500,0,1763,1,2,칠레

                       movieNm
0            좋은 놈, 나쁜 놈, 이상한 놈
1                          추격자
2                        쿵푸 팬더
3                        맘마미아!
4                        과속스캔들
5               강철중: 공공의 적 1-1
6                         아이언맨
7      인디아나 존스 4 : 크리스탈 해골의 왕국
8                 미이라 3:황제의 무덤
9                       다크 나이트
10                우리 생애 최고의 순간
11                         신기전
12                         원티드
13                          핸콕
14                         테이큰
15                         미인도
16                       이글 아이
17               007 퀀텀 오브 솔러스
18                 눈에는 눈 이에는 이
19                    아내가 결혼했다
20                     님은 먼 곳에
21                          점퍼
22                고死 : 피의 중간고사
23                       무방비도시
24             적벽대전:거대한 전쟁의 시작
25                     원스어폰어타임
26                        더 게임
27             나니아 연대기:캐스피언 왕자
28                         월ㆍE
29                     영화는 영화다
...                        ...
16642              아름다운 청년 전태일
16643                       안개
16644                     안개마을
16645                       야행
16646                     어둔 밤
16647                      와즈다
16648               욕망의 모호한 대상
16649                우주의 크리스마스
16650                  워킹 스트리트
16651              인정사정 볼 것 없다
16652                     작은 형
16653                    잔느 딜망
16654                       잡스
16655                   장군의 아들
16656                       접속
16657                   조용한 가족
16658                       족보
16659                  집으로 가는길
16660                  참새들의 합창
16661              책상 서랍 속의 동화
16662                처녀들의 저녁식사
16663                    천리주단기
16664                 춘향뎐(春香傳)
16665                     친구엄마
16666                   태양은 없다
16667                      투게더
16668                 하늘의 황금마차
16669                       하루
16670                  호프만 이야기
16671                훌리오와 에밀리아

[16672 rows x 1 columns]

,movieNm,movieCd,openDt,rank,scrnCnt,salesAmt,salesShare,audiCnt,showCnt,searchDay
0,황금 나침반,20070551,2007-12-18,1,293,1062569500,18.8,161052,1682,2008-01-01
1,내셔널 트레져:비밀의 책,20070549,2007-12-19,2,246,827405500,14.7,123779,1168,2008-01-01
2,기다리다 미쳐,20070661,2008-01-01,3,238,497751500,8.8,73572,1553,2008-01-01
3,색즉시공 시즌2,20070637,2007-12-12,4,208,428237000,7.6,61740,811,2008-01-01
4,마고리엄의 장난감 백화점,20070586,2007-12-24,5,191,352225000,6.2,55387,856,2008-01-01
5,P.S. 아이 러브 유,20071003,2008-01-03,6,184,349718000,6.2,49842,1061,2008-01-01
6,나는 전설이다,20070550,2007-12-12,7,186,325831000,5.8,48077,749,2008-01-01
7,앨빈과 슈퍼밴드,20070562,2007-12-19,8,157,304514500,5.4,47718,607,2008-01-01
8,어거스트 러쉬,20070585,2007-11-29,9,124,320816500,5.7,47398,476,2008-01-01
9,아메리칸 갱스터,20070642,2007-12-27,10,198,291855500,5.2,41130,626,2008-01-01
10,황금 나침반,20070551,2007-12-18,1,278,225446500,13.3,35634,1576,2008-01-02
11,내셔널 트레져:비밀의 책,20070549,2007-12-19,2,240,224238500,13.2,34838,1140,2008-01-02
12,기다리다 미쳐,20070661,2008-01-01,3,230,200930500,11.8,31339,1496,2008-01-02
13,색즉시공 시즌2,20070637,2007-12-12,4,203,156790000,9.2,23668,795,2008-01-02
14,P.S. 아이 러브 유,20071003,2008-01-03,5,177,129969000,7.6,19879,1010,2008-01-02
15,내 사랑,20070639,2007-12-18,6,162,99184500,5.8,15200,649,2008-01-02
16,어거스트 러쉬,20070585,2007-11-29,7,116,94866500,5.6,14859,455,2008-01-02
17,아메리칸 갱스터,20070642,2007-12-27,8,191,95055000,5.6,14324,606,2008-01-02
18,마고리엄의 장난감 백화점,20070586,2007-12-24,9,186,76726000,4.5,12780,746,2008-01-02
19,앨빈과 슈퍼밴드,20070562,2007-12-19,10,142,73892500,4.3,12383,490,2008-01-02
20,꿀벌대소동,20070563,2008-01-03,1,208,311429000,18.0,52845,1089,2008-01-03
21,기다리다 미쳐,20070661,2008-01-01,2,239,224996000,13.0,39424,1498,2008-01-03
22,내셔널 트레져:비밀의 책,20070549,2007-12-19,3,241,182945500,10.5,28488,1080,2008-01-03
23,황금 나침반,20070551,2007-12-18,4,273,175601000,10.1,28281,1453,2008-01-03
24,P.S. 아이 러브 유,20071003,2008-01-03,5,183,140587000,8.1,21683,1015,2008-01-03
25,색즉시공 시즌2,20070637,2007-12-12,6,196,117203000,6.8,17761,724,2008-01-03
26,어거스트 러쉬,20070585,2007-11-29,7,115,82884500,4.8,13044,411,2008-01-03
27,내 사랑,20070639,2007-12-18,8,147,79423000,4.6,12365,553,2008-01-03
28,아메리칸 갱스터,20070642,2007-12-27,9,193,79915500,4.6,12185,565,2008-01-03
29,가면,20070641,2007-12-27,10,163,65869000,3.8,9931,569,2008-01-03
...,...,...,...,...,...,...,...,...,...,...
36448,메리와 마녀의 꽃,20174585,2017-12-07,9,97,40919300,0.2,5195,105,2017-12-28
36449,러브 액츄얼리,20030404,2003-12-05,10,93,41876900,0.2,4681,127,2017-12-28
36450,신과함께-죄와 벌,20150976,2017-12-20,1,1912,10020464250,59.9,1212822,8641,2017-12-28
36451,강철비,20170402,2017-12-14,2,901,2715803400,16.2,329396,3197,2017-12-28
36452,위대한 쇼맨,20179462,2017-12-20,3,638,1310888800,7.8,155795,1991,2017-12-28
36453,극장판 포켓몬스터 너로 정했다!,20174965,2017-12-21,4,614,766630200,4.6,100877,1153,2017-12-28
36454,몬스터 패밀리,20176082,2017-12-21,5,617,708942900,4.2,93375,1058,2017-12-28
36455,뽀로로 극장판 공룡섬 대모험,20174846,2017-12-07,6,389,370828700,2.2,47552,574,2017-12-28
36456,스타워즈: 라스트 제다이,20170443,2017-12-14,7,323,386224600,2.3,37388,556,2017-12-28
36457,더 크리스마스,20176022,2017-12-21,8,152,139161400,0.8,17669,234,2017-12-28
36458,메리와 마녀의 꽃,20174585,2017-12-07,9,91,41427200,0.2,5449,95,2017-12-29
36459,러브 액츄얼리,20030404,2003-12-05,10,97,45907600,0.3,5303,124,2017-12-29
36460,신과함께-죄와 벌,20150976,2017-12-20,1,1662,3195369100,64.4,430026,7816,2017-12-29
36461,강철비,20170402,2017-12-14,2,909,767703000,15.5,103605,3388,2017-12-29
36462,위대한 쇼맨,20179462,2017-12-20,3,658,405082000,8.2,53836,2206,2017-12-29
36463,스타워즈: 라스트 제다이,20170443,2017-12-14,4,398,139721700,2.8,14971,770,2017-12-29
36464,극장판 포켓몬스터 너로 정했다!,20174965,2017-12-21,5,464,90279100,1.8,13017,749,2017-12-29
36465,뽀로로 극장판 공룡섬 대모험,20174846,2017-12-07,6,234,82894800,1.7,11994,312,2017-12-29
36466,몬스터 패밀리,20176082,2017-12-21,7,430,69200700,1.4,10335,603,2017-12-29
36467,1987,20170590,2017-12-27,8,41,64200500,1.3,7168,41,2017-12-29
36468,더 크리스마스,20176022,2017-12-21,9,118,18927100,0.4,3024,140,2017-12-30
36469,패터슨,20176049,2017-12-21,10,62,15221800,0.3,2069,127,2017-12-30
36470,신과함께-죄와 벌,20150976,2017-12-20,1,1428,3021329100,49.5,495106,5998,2017-12-30
36471,1987,20170590,2017-12-27,2,1299,1973650400,32.3,331736,6074,2017-12-30
36472,강철비,20170402,2017-12-14,3,610,457801400,7.5,76078,1599,2017-12-30
36473,위대한 쇼맨,20179462,2017-12-20,4,424,229170200,3.8,36053,821,2017-12-30
36474,원더,20176947,2017-12-27,5,161,79340700,1.3,12864,666,2017-12-30
36475,극장판 포켓몬스터 너로 정했다!,20174965,2017-12-21,6,347,75487000,1.2,11385,433,2017-12-30
36476,몬스터 패밀리,20176082,2017-12-21,7,320,68166600,1.1,10677,389,2017-12-30
36477,뽀로로 극장판 공룡섬 대모험,20174846,2017-12-07,8,142,55435700,0.9,8384,170,2017-12-30

,movieNm,movieCd,openDt,rank,scrnCnt,salesAmt,salesShare,audiCnt,showCnt,searchDay
0,추격자,20080046,2008-02-14,2,391,722726500,26.3,113673,2032,2008-02-14
1,추격자,20080046,2008-02-14,2,393,658270500,28.6,97145,2059,2008-02-15
2,추격자,20080046,2008-02-14,2,433,1472229000,30.6,217096,2293,2008-02-16
3,추격자,20080046,2008-02-14,1,425,1573546500,32.4,230033,2214,2008-02-17
4,추격자,20080046,2008-02-14,1,380,661190500,39.2,100291,2038,2008-02-18
5,추격자,20080046,2008-02-14,1,379,661247500,39.5,100280,2024,2008-02-19
6,추격자,20080046,2008-02-14,1,385,658838000,40.8,99779,2053,2008-02-20
7,추격자,20080046,2008-02-14,1,370,677207500,37.3,102306,1962,2008-02-21
8,추격자,20080046,2008-02-14,1,392,897642000,42.0,132298,2108,2008-02-22
9,추격자,20080046,2008-02-14,1,432,1852956500,41.7,271077,2422,2008-02-23
10,추격자,20080046,2008-02-14,1,431,1919808500,42.5,278091,2308,2008-02-24
11,추격자,20080046,2008-02-14,1,388,715208000,45.1,108191,2150,2008-02-25
12,추격자,20080046,2008-02-14,1,398,727550000,42.7,110062,2162,2008-02-26
13,추격자,20080046,2008-02-14,1,395,714735500,42.6,108227,2151,2008-02-27
14,추격자,20080046,2008-02-14,1,336,659410500,30.9,99898,1768,2008-02-28
15,추격자,20080046,2008-02-14,1,349,832179000,32.9,123288,1923,2008-02-29
16,추격자,20080046,2008-02-14,1,423,1847686000,34.7,270442,2310,2008-03-01
17,추격자,20080046,2008-02-14,1,422,1619683000,36.9,233283,2181,2008-03-02
18,추격자,20080046,2008-02-14,1,369,477007500,40.6,71985,1941,2008-03-03
19,추격자,20080046,2008-02-14,1,365,445633500,40.9,67627,1938,2008-03-04
20,추격자,20080046,2008-02-14,1,367,419807000,38.9,63611,1934,2008-03-05
21,추격자,20080046,2008-02-14,1,330,450097500,34.0,68780,1741,2008-03-06
22,추격자,20080046,2008-02-14,1,343,646013500,35.8,96049,1864,2008-03-07
23,추격자,20080046,2008-02-14,1,371,1447901500,34.4,211299,2096,2008-03-08
24,추격자,20080046,2008-02-14,1,370,1245159000,35.2,179538,1992,2008-03-09
25,추격자,20080046,2008-02-14,1,349,346439000,38.7,53100,1840,2008-03-10
26,추격자,20080046,2008-02-14,1,352,334974000,38.5,51533,1837,2008-03-11
27,추격자,20080046,2008-02-14,1,347,310021000,35.9,47501,1825,2008-03-12
28,추격자,20080046,2008-02-14,2,299,251691000,20.7,38909,1588,2008-03-13
29,추격자,20080046,2008-02-14,3,304,436530000,20.7,64717,1707,2008-03-14
...,...,...,...,...,...,...,...,...,...,...
70833,토마스와 친구들: 수수께끼 해적선과 보물찾기,20177202,2017-06-29,10,113,23512900,0.2,3562,159,2017-07-11
70834,토마스와 친구들: 수수께끼 해적선과 보물찾기,20177202,2017-06-29,9,114,26564500,0.3,4047,156,2017-07-12
70835,유리정원,20164481,2017-10-25,9,332,23059000,0.6,3933,627,2017-10-29
70836,유리정원,20164481,2017-10-25,9,331,20023000,0.4,2670,618,2017-10-31
70837,송 투 송,20178646,2017-07-26,9,86,24039800,0.3,3906,147,2017-07-30
70838,극장판 어드벤처 타임: 비밀의 아일랜드,20174023,2017-04-13,9,124,42994200,0.7,5214,161,2017-04-18
70839,극장판 어드벤처 타임: 비밀의 아일랜드,20174023,2017-04-13,9,125,46436200,0.9,5607,167,2017-04-19
70840,그 후,20176102,2017-07-06,7,156,15539300,0.4,2170,279,2017-07-09
70841,그 후,20176102,2017-07-06,8,168,17509202,0.3,2154,291,2017-07-10
70842,그 후,20176102,2017-07-06,8,147,8781000,0.3,1246,243,2017-07-13
70843,그 후,20176102,2017-07-06,10,138,9949400,0.4,1431,229,2017-07-14
70844,오즈의 마법사 2,20174501,2017-05-03,10,142,54821600,0.5,7009,182,2017-05-06
70845,은혼,20175903,2017-12-07,10,5,12993500,0.8,1599,6,2017-12-10
70846,신서유기 : 몽키킹의 부활,20174902,2017-11-02,7,212,42463300,0.5,5737,293,2017-11-07
70847,신서유기 : 몽키킹의 부활,20174902,2017-11-02,7,211,48954700,0.7,6525,287,2017-11-08
70848,배드 지니어스,20173804,2017-11-02,10,181,8983500,0.5,1248,244,2017-11-10
70849,배드 지니어스,20173804,2017-11-02,9,186,11316400,0.7,1575,252,2017-11-11
70850,배드 지니어스,20173804,2017-11-02,10,160,8843400,0.4,1235,201,2017-11-12
70851,빅 배드 폭스,20174073,2017-11-30,10,219,47454100,0.8,6085,284,2017-12-07
70852,링스,20173444,2017-04-06,10,103,14705500,0.9,1880,155,2017-04-09
70853,링스,20173444,2017-04-06,10,117,28133700,1.2,3279,289,2017-04-10
70854,콜로설,20173121,2017-04-20,10,305,24375000,1.6,3367,625,2017-04-23
70855,개구리왕국 2,20170382,2017-03-23,10,171,30011900,0.4,4023,197,2017-03-29
70856,용순,20168041,2017-06-08,10,117,8979500,0.3,1236,272,2017-06-11
70857,용순,20168041,2017-06-08,10,120,8493500,0.2,1108,263,2017-06-12
70858,주키퍼스 와이프,20175943,2017-10-12,10,92,5032000,0.3,705,164,2017-10-20
70859,나의 엔젤,20172942,2017-10-12,10,80,6498500,0.3,957,162,2017-10-16
70860,베를린 신드롬,20176511,2017-07-06,10,73,7179000,0.2,998,146,2017-07-09
70861,베를린 신드롬,20176511,2017-07-06,10,78,9581700,0.2,1175,146,2017-07-10
70862,암살교실: 졸업편,20175461,2017-04-21,9,1,13390000,0.4,2678,7,2017-06-03

,movieNm,movieCd,openDt,rank,scrnCnt,salesAmt,salesShare,audiCnt,showCnt
0,추격자,20080046,2008-02-14,2,391,722726500,26.3,113673,2032
83,쿵푸 팬더,20080653,2008-06-05,1,446,680312000,30.3,105337,2790
306,맘마미아!,20081169,2008-09-03,1,382,312235000,32.8,48306,2317
1160,과속스캔들,20081672,2008-12-03,1,345,252837000,23.7,40254,2008
1452,강철중: 공공의 적 1-1,20080736,2008-06-19,1,575,1273303000,56.7,199973,2965
1539,아이언맨,20080396,2008-04-30,1,496,977191000,46.7,152797,2823
1670,인디아나 존스 4 : 크리스탈 해골의 왕국,20070675,2008-05-22,1,632,1378807500,76.8,216124,3420
1703,미이라 3:황제의 무덤,20080996,2008-07-30,1,496,1884901000,47.0,297855,3168
1736,다크 나이트,20081056,2008-08-06,1,424,1072436000,28.1,165380,2168
1943,우리 생애 최고의 순간,20070382,2008-01-10,1,379,665088500,30.8,108071,2042
1989,신기전,20081001,2008-09-04,1,525,578307000,40.4,90464,2700
2143,원티드,20080847,2008-06-26,1,440,1094445500,43.0,173235,2556
2211,핸콕,20080873,2008-07-02,1,526,1092852000,44.7,167724,3404
2239,테이큰,20080337,2008-04-09,3,214,624445500,16.4,89502,1498
2297,미인도,20081611,2008-11-13,2,419,641160000,31.1,103818,2446
2377,이글 아이,20081366,2008-10-09,1,312,524374000,40.2,86957,1815
2419,007 퀀텀 오브 솔러스,20081484,2008-11-05,1,454,630792500,51.5,100124,2734
2496,눈에는 눈 이에는 이,20080968,2008-07-31,3,440,883916500,18.2,138218,2800
2540,아내가 결혼했다,20081395,2008-10-23,1,400,594061000,39.6,96014,2066
2583,님은 먼 곳에,20080764,2008-07-24,2,480,815143500,32.9,131171,2695
2626,점퍼,20080047,2008-02-14,1,317,964911500,35.1,148851,2189
2656,고死 : 피의 중간고사,20081058,2008-08-07,3,238,535732500,15.0,87130,1546
2724,무방비도시,20071064,2008-01-10,2,296,526116500,24.4,81244,1774
2753,적벽대전:거대한 전쟁의 시작,20080914,2008-07-10,1,424,762135000,34.7,123385,2259
2811,원스어폰어타임,20080011,2008-01-31,4,300,277481000,14.1,43132,1742
2882,월ㆍE,20081057,2008-08-06,6,326,340031000,8.9,55741,1902
2990,영화는 영화다,20081243,2008-09-11,3,310,264649500,18.2,40512,1682
3062,지구가 멈추는 날,20081723,2008-12-24,1,454,1627390500,31.4,252814,2998
3099,트와일라잇,20081697,2008-12-10,2,313,350390500,26.0,54030,1754
3221,꿀벌대소동,20070563,2008-01-03,1,208,311429000,18.0,52845,1089
...,...,...,...,...,...,...,...,...,...
60477,에베레스트,20151421,2015-09-24,9,2,8048000,0.4,1006,2
60560,도리화가,20140144,2015-11-25,8,11,17069000,0.6,2165,11
60652,인서전트,20144461,2015-03-25,10,10,16472000,1.2,2059,10
61247,나의 절친 악당들,20142856,2015-06-25,9,17,13534000,0.6,1402,17
61453,맨 프롬 UNCLE,20152745,2015-10-28,10,3,17520000,1.0,1460,4
62594,부산행,20156564,2016-07-20,9,12,23706000,0.9,2787,12
62700,검사외전,20145507,2016-02-03,6,20,39838000,2.6,4942,20
63019,곡성,20140194,2016-05-12,1,895,1351148500,53.6,170789,2155
63286,주토피아,20155501,2016-02-17,6,22,39044000,1.9,4915,22
63688,나우 유 씨 미 2,20150203,2016-07-13,1,653,824802200,29.1,104597,1648
63802,엑스맨: 아포칼립스,20150523,2016-05-25,9,7,28571000,1.5,1933,7
64446,탐정 홍길동: 사라진 마을,20142406,2016-05-04,7,24,24016500,1.0,2709,24
64543,시간이탈자,20142621,2016-04-13,9,23,24369500,2.2,2753,23
64950,맨 인 더 다크,20167481,2016-10-05,7,303,148778900,1.6,17134,484
65120,브리짓 존스의 베이비,20168885,2016-09-28,5,349,204512900,5.2,23174,794
65354,설리: 허드슨강의 기적,20168891,2016-09-28,6,343,201193800,5.1,21845,843
65460,싱 스트리트,20163018,2016-05-19,7,10,8929000,0.4,1503,10
65522,아이스 에이지: 지구 대충돌,20161286,2016-07-20,10,12,15923000,0.6,1903,12
65684,계춘할망,20156559,2016-05-19,8,25,9729000,0.4,1348,25
66407,대배우,20150902,2016-03-30,8,11,25590000,2.1,3255,11
67289,하드코어 헨리,20163182,2016-05-19,9,10,11700000,0.5,1280,10
67362,너의 이름은.,20161872,2017-01-04,6,275,325811500,3.4,37418,342
67464,대결,20162022,2016-09-22,8,4,10912000,0.7,1364,4
68371,프리즌,20162181,2017-03-23,10,17,19302000,1.1,1731,17
68549,조작된 도시,20150964,2017-02-09,9,9,14528000,0.7,1816,9
69726,킹 아서: 제왕의 검,20173961,2017-05-17,7,256,202530600,3.0,23119,684
69823,보통사람,20167902,2017-03-23,6,12,20664000,1.2,2583,12
69839,대장 김창수,20164424,2017-10-19,8,24,35640000,1.9,4455,25
70002,목소리의 형태,20170321,2017-05-09,10,34,29684200,0.3,3501,34
70046,미옥,20161681,2017-11-09,7,5,16774000,0.9,2098,7

In [12]:
df_7 = df_7.drop('searchDay', axis=1)
df_7 = df_7.drop_duplicates(subset='movieCd', keep='last')
df_7

,movieNm,movieCd,openDt,rank,scrnCnt,salesAmt,salesShare,audiCnt,showCnt
7,추격자,20080046,2008-02-14,1,370,677207500,37.3,102306,1962
255,쿵푸 팬더,20080653,2008-06-05,2,400,445165500,27.6,67902,2228
1055,맘마미아!,20081169,2008-09-03,1,421,398037500,37.2,62728,2267
1367,과속스캔들,20081672,2008-12-03,1,341,456175000,33.8,71448,1955
1503,강철중: 공공의 적 1-1,20080736,2008-06-19,2,534,799386000,31.4,122764,2666
1632,아이언맨,20080396,2008-04-30,1,491,553638000,49.2,87942,2740
1677,인디아나 존스 4 : 크리스탈 해골의 왕국,20070675,2008-05-22,1,558,640462000,45.4,99564,3010
1710,미이라 3:황제의 무덤,20080996,2008-07-30,2,423,789091000,20.7,125147,2376
1899,다크 나이트,20081056,2008-08-06,1,395,733750000,29.1,112657,1811
1950,우리 생애 최고의 순간,20070382,2008-01-10,1,339,482888500,23.7,75605,1811
2100,신기전,20081001,2008-09-04,2,449,365385000,25.2,56564,2092
2185,원티드,20080847,2008-06-26,2,377,560757000,22.9,86020,2130
2218,핸콕,20080873,2008-07-02,1,528,611783000,34.7,94336,3449
2246,테이큰,20080337,2008-04-09,1,208,277729500,35.9,42360,1437
2344,미인도,20081611,2008-11-13,1,406,456897000,30.2,70748,2262
2384,이글 아이,20081366,2008-10-09,1,325,369047500,29.6,60160,1804
2463,007 퀀텀 오브 솔러스,20081484,2008-11-05,1,471,412948000,40.4,65336,2834
2503,눈에는 눈 이에는 이,20080968,2008-07-31,6,311,364334500,10.2,56897,1532
2547,아내가 결혼했다,20081395,2008-10-23,1,383,382997000,32.4,60470,1945
2612,님은 먼 곳에,20080764,2008-07-24,4,357,411636000,8.5,64562,1791
2633,점퍼,20080047,2008-02-14,2,285,344103500,19.0,53937,1925
2698,고死 : 피의 중간고사,20081058,2008-08-07,2,241,386787500,12.5,62623,1527
2731,무방비도시,20071064,2008-01-10,3,275,299933000,14.7,46241,1613
2789,적벽대전:거대한 전쟁의 시작,20080914,2008-07-10,2,293,222062000,6.6,34970,1415
2818,원스어폰어타임,20080011,2008-01-31,2,290,900179000,19.5,133832,1735
2866,더 게임,20071675,2008-01-30,1,291,661805000,20.0,98410,1722
2961,월ㆍE,20081057,2008-08-06,7,271,170254500,6.8,28547,885
3033,영화는 영화다,20081243,2008-09-11,3,259,224117500,16.7,34046,1383
3087,지구가 멈추는 날,20081723,2008-12-24,5,315,296691500,6.8,46179,1747
3199,트와일라잇,20081697,2008-12-10,2,291,240109500,13.7,38641,1360
...,...,...,...,...,...,...,...,...,...
70558,더 서클,20176201,2017-06-22,6,161,44749600,2.8,5932,680
70574,뷰티풀 투모로우,20175208,2017-10-26,7,36,21448700,1.0,2658,82
70587,더 크리스마스,20176022,2017-12-21,8,152,139161400,0.8,17669,234
70590,바다 탐험대 옥토넛 시즌4: 바다 괴물 대소동,20168366,2017-01-25,10,139,53176500,0.4,7940,192
70597,나의 붉은고래,20175423,2017-06-15,7,319,21223700,1.4,2873,668
70604,밤의 해변에서 혼자,20179442,2017-03-23,6,133,25026300,1.2,3466,314
70623,매혹당한 사람들,20170268,2017-09-06,9,393,63133700,0.9,7751,618
70632,튤립 피버,20175481,2017-12-14,8,332,34677400,1.3,4660,603
70638,윈드 리버,20170302,2017-09-14,8,306,30104000,2.1,4262,620
70652,미스 슬로운,20167364,2017-03-29,8,98,35550100,0.6,4182,217
70662,잃어버린 도시 Z,20168241,2017-09-21,8,352,24181100,1.8,3443,828
70666,심야식당 2,20173833,2017-06-08,7,213,23849100,1.3,3284,403
70672,마더!,20172064,2017-10-19,8,344,29903500,1.6,4126,700
70693,이모티: 더 무비,20179186,2017-08-02,10,133,38098100,0.3,4941,202
70698,산상수훈,20170272,2017-12-07,8,60,37801500,2.3,5385,106
70711,다크 하우스,20175982,2017-06-22,9,231,22364100,1.4,2949,425
70728,파운더,20172125,2017-04-20,8,276,21231800,2.0,2859,492
70734,7번째 내가 죽던 날,20174803,2017-05-31,10,207,42636300,0.6,5249,319
70738,더 플랜,20174561,2017-04-20,10,132,15718500,1.4,2165,310
70747,역모-반란의 시대,20173903,2017-11-23,8,291,15386000,0.8,2294,556
70756,걸 온 더 트레인,20170761,2017-03-09,10,281,16288500,1.3,2258,495
70763,데스노트: 더 뉴 월드,20167005,2017-03-29,7,267,36510300,0.6,4427,378
70775,스페이스 비트윈 어스,20178942,2017-03-16,7,327,15571500,0.9,2191,626
70779,키드냅,20174222,2017-11-22,10,167,40637900,0.6,4893,501
70786,반지의 제왕 : 두개의 탑 (확장판),20168664,2017-01-18,9,56,58795600,0.6,4732,79
70793,지니어스,20170741,2017-04-13,9,152,12885300,0.7,1840,243
70797,로스트 인 파리,20174721,2017-05-18,10,84,9440500,0.5,1311,129
70798,몬스터 섬의 비밀,20172148,2017-09-07,10,147,46650800,0.7,6104,260
70842,그 후,20176102,2017-07-06,8,147,8781000,0.3,1246,243
70851,빅 배드 폭스,20174073,2017-11-30,10,219,47454100,0.8,6085,284

In [13]:
df_0 = pd.merge(df_1, df_7, on=['movieNm'])
df_0 = df_0.drop_duplicates(subset='movieNm', keep='last')
df_0.index = pd.RangeIndex(len(df_0))

In [14]:
# df_0.to_excel('./data/개봉일&개봉일7일.xlsx', encoding='utf-8')

In [15]:
df_0

,movieNm,movieCd_x,openDt_x,rank_x,scrnCnt_x,salesAmt_x,salesShare_x,audiCnt_x,showCnt_x,movieCd_y,openDt_y,rank_y,scrnCnt_y,salesAmt_y,salesShare_y,audiCnt_y,showCnt_y
0,추격자,20080046,2008-02-14,2,391,722726500,26.3,113673,2032,20080046,2008-02-14,1,370,677207500,37.3,102306,1962
1,쿵푸 팬더,20080653,2008-06-05,1,446,680312000,30.3,105337,2790,20080653,2008-06-05,2,400,445165500,27.6,67902,2228
2,맘마미아!,20081169,2008-09-03,1,382,312235000,32.8,48306,2317,20081169,2008-09-03,1,421,398037500,37.2,62728,2267
3,과속스캔들,20081672,2008-12-03,1,345,252837000,23.7,40254,2008,20081672,2008-12-03,1,341,456175000,33.8,71448,1955
4,강철중: 공공의 적 1-1,20080736,2008-06-19,1,575,1273303000,56.7,199973,2965,20080736,2008-06-19,2,534,799386000,31.4,122764,2666
5,아이언맨,20080396,2008-04-30,1,496,977191000,46.7,152797,2823,20080396,2008-04-30,1,491,553638000,49.2,87942,2740
6,인디아나 존스 4 : 크리스탈 해골의 왕국,20070675,2008-05-22,1,632,1378807500,76.8,216124,3420,20070675,2008-05-22,1,558,640462000,45.4,99564,3010
7,미이라 3:황제의 무덤,20080996,2008-07-30,1,496,1884901000,47.0,297855,3168,20080996,2008-07-30,2,423,789091000,20.7,125147,2376
8,다크 나이트,20081056,2008-08-06,1,424,1072436000,28.1,165380,2168,20081056,2008-08-06,1,395,733750000,29.1,112657,1811
9,우리 생애 최고의 순간,20070382,2008-01-10,1,379,665088500,30.8,108071,2042,20070382,2008-01-10,1,339,482888500,23.7,75605,1811
10,신기전,20081001,2008-09-04,1,525,578307000,40.4,90464,2700,20081001,2008-09-04,2,449,365385000,25.2,56564,2092
11,원티드,20080847,2008-06-26,1,440,1094445500,43.0,173235,2556,20080847,2008-06-26,2,377,560757000,22.9,86020,2130
12,핸콕,20080873,2008-07-02,1,526,1092852000,44.7,167724,3404,20080873,2008-07-02,1,528,611783000,34.7,94336,3449
13,테이큰,20080337,2008-04-09,3,214,624445500,16.4,89502,1498,20080337,2008-04-09,1,208,277729500,35.9,42360,1437
14,미인도,20081611,2008-11-13,2,419,641160000,31.1,103818,2446,20081611,2008-11-13,1,406,456897000,30.2,70748,2262
15,이글 아이,20081366,2008-10-09,1,312,524374000,40.2,86957,1815,20081366,2008-10-09,1,325,369047500,29.6,60160,1804
16,007 퀀텀 오브 솔러스,20081484,2008-11-05,1,454,630792500,51.5,100124,2734,20081484,2008-11-05,1,471,412948000,40.4,65336,2834
17,눈에는 눈 이에는 이,20080968,2008-07-31,3,440,883916500,18.2,138218,2800,20080968,2008-07-31,6,311,364334500,10.2,56897,1532
18,아내가 결혼했다,20081395,2008-10-23,1,400,594061000,39.6,96014,2066,20081395,2008-10-23,1,383,382997000,32.4,60470,1945
19,님은 먼 곳에,20080764,2008-07-24,2,480,815143500,32.9,131171,2695,20080764,2008-07-24,4,357,411636000,8.5,64562,1791
20,점퍼,20080047,2008-02-14,1,317,964911500,35.1,148851,2189,20080047,2008-02-14,2,285,344103500,19.0,53937,1925
21,고死 : 피의 중간고사,20081058,2008-08-07,3,238,535732500,15.0,87130,1546,20081058,2008-08-07,2,241,386787500,12.5,62623,1527
22,무방비도시,20071064,2008-01-10,2,296,526116500,24.4,81244,1774,20071064,2008-01-10,3,275,299933000,14.7,46241,1613
23,적벽대전:거대한 전쟁의 시작,20080914,2008-07-10,1,424,762135000,34.7,123385,2259,20080914,2008-07-10,2,293,222062000,6.6,34970,1415
24,원스어폰어타임,20080011,2008-01-31,4,300,277481000,14.1,43132,1742,20080011,2008-01-31,2,290,900179000,19.5,133832,1735
25,월ㆍE,20081057,2008-08-06,6,326,340031000,8.9,55741,1902,20081057,2008-08-06,7,271,170254500,6.8,28547,885
26,영화는 영화다,20081243,2008-09-11,3,310,264649500,18.2,40512,1682,20081243,2008-09-11,3,259,224117500,16.7,34046,1383
27,지구가 멈추는 날,20081723,2008-12-24,1,454,1627390500,31.4,252814,2998,20081723,2008-12-24,5,315,296691500,6.8,46179,1747
28,트와일라잇,20081697,2008-12-10,2,313,350390500,26.0,54030,1754,20081697,2008-12-10,2,291,240109500,13.7,38641,1360
29,꿀벌대소동,20070563,2008-01-03,1,208,311429000,18.0,52845,1089,20070563,2008-01-03,4,208,173365000,8.0,30575,930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,"협녀, 칼의 기억",20130021,2015-08-13,7,11,23288000,0.4,2911,11,20130021,2015-08-13,6,435,142645800,3.3,19308,1645
558,소수의견,20136057,2015-06-24,7,31,43960000,1.6,6162,31,20136057,2015-06-24,4,380,184688300,5.9,25132,1537
559,에베레스트,20151421,2015-09-24,9,2,8048000,0.4,1006,2,20151421,2015-09-24,8,306,443002900,3.6,47087,748
560,도리화가,20140144,2015-11-25,8,11,17069000,0.6,2165,11,20140144,2015-11-25,4,460,133645900,6.0,19340,1854
561,인서전트,20144461,2015-03-25,10,10,16472000,1.2,2059,10,20144461,2015-03-25,4,414,115468400,7.3,15567,1757
562,나의 절친 악당들,20142856,2015-06-25,9,17,13534000,0.6,1402,17,20142856,2015-06-25,6,347,69980500,2.2,9393,1140
563,맨 프롬 UNCLE,20152745,2015-10-28,10,3,17520000,1.0,1460,4,20152745,2015-10-28,7,336,59279600,4.1,7836,805
564,부산행,20156564,2016-07-20,9,12,23706000,0.9,2787,12,20156564,2016-07-20,1,1622,3800105300,70.1,499070,9288
565,검사외전,20145507,2016-02-03,6,20,39838000,2.6,4942,20,20145507,2016-02-03,1,1812,9611023600,70.9,1180484,9451
566,곡성,20140194,2016-05-12,1,895,1351148500,53.6,170789,2155,20140194,2016-05-12,1,1406,1554131100,67.1,202851,6054
567,주토피아,20155501,2016-02-17,6,22,39044000,1.9,4915,22,20155501,2016-02-17,3,587,447739300,14.8,61335,2024
568,엑스맨: 아포칼립스,20150523,2016-05-25,9,7,28571000,1.5,1933,7,20150523,2016-05-25,1,1141,735760000,40.2,93308,5139
569,탐정 홍길동: 사라진 마을,20142406,2016-05-04,7,24,24016500,1.0,2709,24,20142406,2016-05-04,2,729,415650800,25.9,55279,3185
570,시간이탈자,20142621,2016-04-13,9,23,24369500,2.2,2753,23,20142621,2016-04-13,1,688,300711300,30.6,39783,3259
571,맨 인 더 다크,20167481,2016-10-05,7,303,148778900,1.6,17134,484,20167481,2016-10-05,2,551,401082000,24.8,51313,2832
572,브리짓 존스의 베이비,20168885,2016-09-28,5,349,204512900,5.2,23174,794,20168885,2016-09-28,3,502,687667600,8.8,79956,1613
573,설리: 허드슨강의 기적,20168891,2016-09-28,6,343,201193800,5.1,21845,843,20168891,2016-09-28,4,573,737457700,8.1,80535,1572
574,싱 스트리트,20163018,2016-05-19,7,10,8929000,0.4,1503,10,20163018,2016-05-19,3,440,180816000,9.1,23781,1656
575,계춘할망,20156559,2016-05-19,8,25,9729000,0.4,1348,25,20156559,2016-05-19,2,499,206361900,10.4,29011,1794
576,대배우,20150902,2016-03-30,8,11,25590000,2.1,3255,11,20150902,2016-03-30,3,422,71411800,9.3,10064,1663
577,하드코어 헨리,20163182,2016-05-19,9,10,11700000,0.5,1280,10,20163182,2016-05-19,8,221,23297000,1.2,2953,470
578,너의 이름은.,20161872,2017-01-04,6,275,325811500,3.4,37418,342,20161872,2017-01-04,1,801,1178187800,41.2,154781,3882
579,대결,20162022,2016-09-22,8,4,10912000,0.7,1364,4,20162022,2016-09-22,7,334,25264500,2.1,3456,831
580,프리즌,20162181,2017-03-23,10,17,19302000,1.1,1731,17,20162181,2017-03-23,1,977,809719450,41.8,108066,4555
581,조작된 도시,20150964,2017-02-09,9,9,14528000,0.7,1816,9,20150964,2017-02-09,1,900,1084946500,39.9,144305,4173
582,킹 아서: 제왕의 검,20173961,2017-05-17,7,256,202530600,3.0,23119,684,20173961,2017-05-17,3,517,180090500,9.7,24017,2006
583,보통사람,20167902,2017-03-23,6,12,20664000,1.2,2583,12,20167902,2017-03-23,3,567,173810700,9.0,24083,2225
584,대장 김창수,20164424,2017-10-19,8,24,35640000,1.9,4455,25,20164424,2017-10-19,3,610,170136200,9.2,23463,2523
585,목소리의 형태,20170321,2017-05-09,10,34,29684200,0.3,3501,34,20170321,2017-05-09,6,464,326294459,4.4,40387,1007
586,미옥,20161681,2017-11-09,7,5,16774000,0.9,2098,7,20161681,2017-11-09,5,531,123781500,7.4,16872,2315

In [16]:
# a.month
df_Nation = pd.DataFrame({'영화명':b['영화명'], '국적': b['국적'], '국적 특성':''})
for idx, a in enumerate(df['국적']):
    if type(a) is not str:
        continue
    elif a == '한국':
        df.iloc[idx]['국적 특성'] = 0
    else:
        df.iloc[idx]['국적 특성'] = 1
df_Nation

NameError: name 'b' is not defined

In [17]:
# a.month
#peak이면 0
df = pd.DataFrame({'movieNm':BasicData_set['movieNm'], 'openDt': BasicData_set['openDt'], 'openDt_season':''
                   })

for idx, a in enumerate(BasicData_set['openDt']):
#     print(idx, a)
    a= datetime.datetime.strptime(a, '%Y-%m-%d')
#     a = datetime.date(a)
#     print(a.year)
#     a = datetime.datetime.strftime(a, '%Y%m%d').date()
#     print(type(a))
#     if type(a) is not datetime.datetime:
#         continue
#     elif a.year != 2017:
#         continue
    if a.month >= 3 and a.month <= 5: 
        df.iloc[idx]['openDt_season'] = 1
    elif a.month >= 6 and a.month <= 8: 
        df.iloc[idx]['openDt_season'] = 2
    elif a.month >= 9 and a.month <= 11: 
        df.iloc[idx]['openDt_season'] = 3
    else:
        df.iloc[idx]['openDt_season'] = 4

NameError: name 'BasicData_set' is not defined

In [18]:
# a.month
#peak이면 0
df_openDt_peak = pd.DataFrame({'movieNm':BasicData_set['movieNm'], 'openDt': BasicData_set['openDt'], 
                   'openDt_peak':''})

for idx, a in enumerate(BasicData_set['openDt']):
#     print(idx, a)
    a= datetime.datetime.strptime(a, '%Y-%m-%d')
#     a = datetime.date(a)
#     print(a.year)
#     a = datetime.datetime.strftime(a, '%Y%m%d').date()
#     print(type(a))
#     if type(a) is not datetime.datetime:
#         continue
#     elif a.year != 2017:
#         continue

    if a.month == 7: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 8: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 9: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 12: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 1: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 2: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 0
    elif a.month == 1: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 3: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 4: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 5: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 6: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 10: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1
    elif a.month == 11: 
        df_openDt_peak.iloc[idx]['openDt_peak'] = 1

NameError: name 'BasicData_set' is not defined