In [1]:
import requests
import pandas as pd
import numpy as np
import os
import time

import datetime
import time
import json
from  pandas import DataFrame

In [3]:
xlsx_list = [file for file in os.listdir('./data') if file.endswith('_boxoffice.xlsx') ]

In [4]:
xlsx_list

['2015_boxoffice.xlsx',
 '2013_boxoffice.xlsx',
 '2014_boxoffice.xlsx',
 '2016_boxoffice.xlsx',
 '2017_boxoffice.xlsx']

In [5]:
for i, a in enumerate(xlsx_list):
    if i == 0:
        df = pd.read_excel('./data/'+a).head(100)
    else:
        small_df = pd.read_excel('./data/'+a).head()
        df = pd.concat([df, small_df]).reset_index(drop = True)

In [6]:
df

,연도별 박스오피스 검색 리스트,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
2,1,베테랑,2015-08-05 00:00:00,105168155250,0.061,13414009,1115,199231,한국,한국,씨제이이앤엠(주)
3,2,암살,2015-07-22 00:00:00,98463132781,0.057,12705700,1519,175185,한국,한국,(주)쇼박스
4,3,어벤져스: 에이지 오브 울트론,2015-04-23 00:00:00,88582586366,0.052,10494499,1843,191778,미국,미국,월트디즈니컴퍼니코리아(주)
5,4,국제시장,2014-12-17 00:00:00,69841376134,0.041,8915904,1044,149061,한국,한국,씨제이이앤엠(주)
6,5,내부자들,2015-11-19 00:00:00,56465665657,0.033,7055332,1129,152265,한국,한국,(주)쇼박스
7,6,사도,2015-09-16 00:00:00,48842902501,0.028,6246849,1210,124246,한국,한국,(주)쇼박스
8,7,킹스맨 : 시크릿 에이전트,2015-02-11 00:00:00,50369009795,0.029,6129681,728,139988,미국,"미국,영국",이십세기폭스코리아(주)
9,8,미션 임파서블: 로그네이션,2015-07-30 00:00:00,48547353607,0.028,6126488,1202,89682,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
10,9,연평해전,2015-06-24 00:00:00,45563228330,0.027,6043784,1013,114450,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
11,10,쥬라기 월드,2015-06-11 00:00:00,47800698826,0.028,5546792,1290,118959,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
12,11,검은 사제들,2015-11-05 00:00:00,42405282092,0.025,5442128,1109,131155,한국,한국,씨제이이앤엠(주)
13,12,히말라야,2015-12-16 00:00:00,39469775448,0.023,5129409,1095,81042,한국,한국,씨제이이앤엠(주)
14,13,인사이드 아웃,2015-07-09 00:00:00,38024694936,0.022,4969735,931,84000,미국,미국,월트디즈니컴퍼니코리아(주)
15,14,마션,2015-10-08 00:00:00,39663145295,0.023,4880800,1132,114183,미국,미국,이십세기폭스코리아(주)
16,15,조선명탐정 : 사라진 놉의 딸,2015-02-11 00:00:00,30456879428,0.018,3872015,825,80499,한국,한국,(주)쇼박스
17,16,매드 맥스: 분노의 도로,2015-05-14 00:00:00,32912842162,0.019,3843343,799,98824,미국,"미국,호주",워너브러더스 코리아(주)
18,17,인턴,2015-09-24 00:00:00,28517727148,0.017,3610564,659,81552,미국,미국,워너브러더스 코리아(주)
19,18,분노의 질주: 더 세븐,2015-04-01 00:00:00,26454098694,0.015,3247955,983,93612,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
20,19,터미네이터 제니시스,2015-07-02 00:00:00,26556715129,0.015,3240370,1113,77590,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
21,20,스물,2015-03-25 00:00:00,23563421686,0.014,3044811,926,100161,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
22,21,극비수사,2015-06-18 00:00:00,22389535897,0.013,2860786,894,66211,한국,한국,(주)쇼박스
23,22,앤트맨,2015-09-03 00:00:00,23529209937,0.014,2841795,949,74649,미국,"미국,영국",월트디즈니컴퍼니코리아(주)
24,23,스타워즈: 깨어난 포스,2015-12-17 00:00:00,24149478540,0.014,2803234,940,56425,미국,미국,월트디즈니컴퍼니코리아(주)
25,24,빅 히어로,2015-01-21 00:00:00,21993119765,0.013,2801949,825,62229,미국,미국,월트디즈니컴퍼니코리아(주)
26,25,메이즈 러너: 스코치 트라이얼,2015-09-16 00:00:00,21596946349,0.013,2744413,804,58725,미국,미국,이십세기폭스코리아(주)
27,26,탐정 : 더 비기닝,2015-09-24 00:00:00,20463956973,0.012,2625686,764,54995,한국,한국,씨제이이앤엠(주)
28,27,미니언즈,2015-07-29 00:00:00,18998046278,0.011,2625599,792,41946,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
29,28,스파이,2015-05-21 00:00:00,18417637358,0.011,2318748,665,62960,미국,미국,이십세기폭스코리아(주)
...,...,...,...,...,...,...,...,...,...,...,...
90,89,이터널 선샤인,2005-11-10 00:00:00,2581017592,0.002,315447,108,8891,미국,미국,"(주)노바미디어,코리아픽쳐스(주)"
91,90,주피터 어센딩,2015-02-05 00:00:00,2687549879,0.002,309842,561,16454,미국,미국,워너브러더스 코리아(주)
92,91,패딩턴,2015-01-07 00:00:00,2246438729,0.001,305102,408,9738,영국,"영국,프랑스,캐나다",롯데쇼핑㈜롯데엔터테인먼트
93,92,오즈의 마법사: 돌아온 도로시,2015-02-12 00:00:00,2176416000,0.001,298482,330,7787,미국,미국,(주)박수엔터테인먼트
94,93,런 올 나이트,2015-03-19 00:00:00,2293671495,0.001,289534,411,15865,미국,미국,워너브러더스 코리아(주)
95,94,다이노 타임,2015-04-30 00:00:00,2108596800,0.001,284900,430,6713,한국,"한국,미국",씨제이이앤엠(주)
96,95,인서전트,2015-03-25 00:00:00,2158449889,0.001,282662,480,18214,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
97,96,백 투 더 비기닝,2015-02-26 00:00:00,2018287400,0.001,266610,423,13839,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
98,97,투모로우랜드,2015-05-27 00:00:00,2083283000,0.001,265810,435,14640,미국,미국,월트디즈니컴퍼니코리아(주)
99,98,스파이 브릿지,2015-11-05 00:00:00,2049608478,0.001,264872,425,12434,미국,미국,이십세기폭스코리아(주)
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
102,1,7번방의 선물,2013-01-23 00:00:00,91431914670,0.059,12811206,866,166815,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
103,2,설국열차,2013-08-01 00:00:00,67010087500,0.043,9349993,1128,124823,한국,한국,씨제이이앤엠(주)
104,3,관상,2013-09-11 00:00:00,66005427500,0.043,9134581,1240,125073,한국,한국,(주)쇼박스
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
107,1,명량,2014-07-30 00:00:00,135748398910,0.082,17613682,1587,188611,한국,한국,씨제이이앤엠(주)
108,2,겨울왕국,2014-01-16 00:00:00,82461504400,0.05,10296101,1010,157683,미국,미국,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)
109,3,인터스텔라,2014-11-06 00:00:00,80671424300,0.048,10105247,1410,166218,미국,"미국,영국",워너브러더스 코리아(주)
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
112,1,부산행,2016-07-20 00:00:00,93178283048,0.053,11565479,1788,151315,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
113,2,검사외전,2016-02-03 00:00:00,77320403264,0.044,9707581,1812,153532,한국,한국,(주)쇼박스
114,3,캡틴 아메리카: 시빌 워,2016-04-27 00:00:00,72672111827,0.042,8677249,1991,161696,미국,미국,월트디즈니컴퍼니코리아(주)
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
117,1,택시운전사,2017-08-02 00:00:00,95853645649,0.055,12186327,1906,184075,한국,한국,(주)쇼박스
118,2,신과함께-죄와 벌,2017-12-20 00:00:00,68350496432,0.039,8539495,1912,91301,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
119,3,공조,2017-01-18 00:00:00,63783051326,0.036,7817618,1392,142989,한국,한국,씨제이이앤엠(주)

In [10]:
df.columns = ['순위', '영화명', '개봉일', '매출액', '매출액점유율', '관객수', '스크린수', '상영횟수', '대표국적', '국적', '배급사']

In [12]:
df

,순위,영화명,개봉일,매출액,매출액점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
2,1,베테랑,2015-08-05 00:00:00,105168155250,0.061,13414009,1115,199231,한국,한국,씨제이이앤엠(주)
3,2,암살,2015-07-22 00:00:00,98463132781,0.057,12705700,1519,175185,한국,한국,(주)쇼박스
4,3,어벤져스: 에이지 오브 울트론,2015-04-23 00:00:00,88582586366,0.052,10494499,1843,191778,미국,미국,월트디즈니컴퍼니코리아(주)
5,4,국제시장,2014-12-17 00:00:00,69841376134,0.041,8915904,1044,149061,한국,한국,씨제이이앤엠(주)
6,5,내부자들,2015-11-19 00:00:00,56465665657,0.033,7055332,1129,152265,한국,한국,(주)쇼박스
7,6,사도,2015-09-16 00:00:00,48842902501,0.028,6246849,1210,124246,한국,한국,(주)쇼박스
8,7,킹스맨 : 시크릿 에이전트,2015-02-11 00:00:00,50369009795,0.029,6129681,728,139988,미국,"미국,영국",이십세기폭스코리아(주)
9,8,미션 임파서블: 로그네이션,2015-07-30 00:00:00,48547353607,0.028,6126488,1202,89682,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
10,9,연평해전,2015-06-24 00:00:00,45563228330,0.027,6043784,1013,114450,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
11,10,쥬라기 월드,2015-06-11 00:00:00,47800698826,0.028,5546792,1290,118959,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
12,11,검은 사제들,2015-11-05 00:00:00,42405282092,0.025,5442128,1109,131155,한국,한국,씨제이이앤엠(주)
13,12,히말라야,2015-12-16 00:00:00,39469775448,0.023,5129409,1095,81042,한국,한국,씨제이이앤엠(주)
14,13,인사이드 아웃,2015-07-09 00:00:00,38024694936,0.022,4969735,931,84000,미국,미국,월트디즈니컴퍼니코리아(주)
15,14,마션,2015-10-08 00:00:00,39663145295,0.023,4880800,1132,114183,미국,미국,이십세기폭스코리아(주)
16,15,조선명탐정 : 사라진 놉의 딸,2015-02-11 00:00:00,30456879428,0.018,3872015,825,80499,한국,한국,(주)쇼박스
17,16,매드 맥스: 분노의 도로,2015-05-14 00:00:00,32912842162,0.019,3843343,799,98824,미국,"미국,호주",워너브러더스 코리아(주)
18,17,인턴,2015-09-24 00:00:00,28517727148,0.017,3610564,659,81552,미국,미국,워너브러더스 코리아(주)
19,18,분노의 질주: 더 세븐,2015-04-01 00:00:00,26454098694,0.015,3247955,983,93612,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
20,19,터미네이터 제니시스,2015-07-02 00:00:00,26556715129,0.015,3240370,1113,77590,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
21,20,스물,2015-03-25 00:00:00,23563421686,0.014,3044811,926,100161,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
22,21,극비수사,2015-06-18 00:00:00,22389535897,0.013,2860786,894,66211,한국,한국,(주)쇼박스
23,22,앤트맨,2015-09-03 00:00:00,23529209937,0.014,2841795,949,74649,미국,"미국,영국",월트디즈니컴퍼니코리아(주)
24,23,스타워즈: 깨어난 포스,2015-12-17 00:00:00,24149478540,0.014,2803234,940,56425,미국,미국,월트디즈니컴퍼니코리아(주)
25,24,빅 히어로,2015-01-21 00:00:00,21993119765,0.013,2801949,825,62229,미국,미국,월트디즈니컴퍼니코리아(주)
26,25,메이즈 러너: 스코치 트라이얼,2015-09-16 00:00:00,21596946349,0.013,2744413,804,58725,미국,미국,이십세기폭스코리아(주)
27,26,탐정 : 더 비기닝,2015-09-24 00:00:00,20463956973,0.012,2625686,764,54995,한국,한국,씨제이이앤엠(주)
28,27,미니언즈,2015-07-29 00:00:00,18998046278,0.011,2625599,792,41946,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
29,28,스파이,2015-05-21 00:00:00,18417637358,0.011,2318748,665,62960,미국,미국,이십세기폭스코리아(주)
...,...,...,...,...,...,...,...,...,...,...,...
90,89,이터널 선샤인,2005-11-10 00:00:00,2581017592,0.002,315447,108,8891,미국,미국,"(주)노바미디어,코리아픽쳐스(주)"
91,90,주피터 어센딩,2015-02-05 00:00:00,2687549879,0.002,309842,561,16454,미국,미국,워너브러더스 코리아(주)
92,91,패딩턴,2015-01-07 00:00:00,2246438729,0.001,305102,408,9738,영국,"영국,프랑스,캐나다",롯데쇼핑㈜롯데엔터테인먼트
93,92,오즈의 마법사: 돌아온 도로시,2015-02-12 00:00:00,2176416000,0.001,298482,330,7787,미국,미국,(주)박수엔터테인먼트
94,93,런 올 나이트,2015-03-19 00:00:00,2293671495,0.001,289534,411,15865,미국,미국,워너브러더스 코리아(주)
95,94,다이노 타임,2015-04-30 00:00:00,2108596800,0.001,284900,430,6713,한국,"한국,미국",씨제이이앤엠(주)
96,95,인서전트,2015-03-25 00:00:00,2158449889,0.001,282662,480,18214,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
97,96,백 투 더 비기닝,2015-02-26 00:00:00,2018287400,0.001,266610,423,13839,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
98,97,투모로우랜드,2015-05-27 00:00:00,2083283000,0.001,265810,435,14640,미국,미국,월트디즈니컴퍼니코리아(주)
99,98,스파이 브릿지,2015-11-05 00:00:00,2049608478,0.001,264872,425,12434,미국,미국,이십세기폭스코리아(주)
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
102,1,7번방의 선물,2013-01-23 00:00:00,91431914670,0.059,12811206,866,166815,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
103,2,설국열차,2013-08-01 00:00:00,67010087500,0.043,9349993,1128,124823,한국,한국,씨제이이앤엠(주)
104,3,관상,2013-09-11 00:00:00,66005427500,0.043,9134581,1240,125073,한국,한국,(주)쇼박스
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
107,1,명량,2014-07-30 00:00:00,135748398910,0.082,17613682,1587,188611,한국,한국,씨제이이앤엠(주)
108,2,겨울왕국,2014-01-16 00:00:00,82461504400,0.05,10296101,1010,157683,미국,미국,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)
109,3,인터스텔라,2014-11-06 00:00:00,80671424300,0.048,10105247,1410,166218,미국,"미국,영국",워너브러더스 코리아(주)
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
112,1,부산행,2016-07-20 00:00:00,93178283048,0.053,11565479,1788,151315,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
113,2,검사외전,2016-02-03 00:00:00,77320403264,0.044,9707581,1812,153532,한국,한국,(주)쇼박스
114,3,캡틴 아메리카: 시빌 워,2016-04-27 00:00:00,72672111827,0.042,8677249,1991,161696,미국,미국,월트디즈니컴퍼니코리아(주)
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
117,1,택시운전사,2017-08-02 00:00:00,95853645649,0.055,12186327,1906,184075,한국,한국,(주)쇼박스
118,2,신과함께-죄와 벌,2017-12-20 00:00:00,68350496432,0.039,8539495,1912,91301,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
119,3,공조,2017-01-18 00:00:00,63783051326,0.036,7817618,1392,142989,한국,한국,씨제이이앤엠(주)

2015-09-24 00:00:00    5
개봉일                    5
2015-01-14 00:00:00    4
2015-07-09 00:00:00    3
2015-05-21 00:00:00    3
2015-03-12 00:00:00    3
2015-10-22 00:00:00    2
2015-02-26 00:00:00    2
2015-05-14 00:00:00    2
2015-03-19 00:00:00    2
2014-12-17 00:00:00    2
2015-05-27 00:00:00    2
2015-11-25 00:00:00    2
2015-03-05 00:00:00    2
2015-03-25 00:00:00    2
2015-08-20 00:00:00    2
2015-09-03 00:00:00    2
2015-02-05 00:00:00    2
2015-06-24 00:00:00    2
2015-04-29 00:00:00    2
2015-08-05 00:00:00    2
2015-12-16 00:00:00    2
2015-11-05 00:00:00    2
2015-06-18 00:00:00    2
2015-07-22 00:00:00    2
2015-02-12 00:00:00    2
2015-08-13 00:00:00    2
2015-10-08 00:00:00    2
2015-01-21 00:00:00    2
2015-12-03 00:00:00    2
                      ..
2015-11-19 00:00:00    1
2014-11-27 00:00:00    1
2015-06-03 00:00:00    1
2015-07-02 00:00:00    1
2013-09-11 00:00:00    1
2015-12-23 00:00:00    1
2017-01-18 00:00:00    1
2016-04-27 00:00:00    1
2015-12-24 00:00:00    1
2015-01-28 00:00:00    1
2005-11-10 00:00:00    1
2015-07-16 00:00:00    1
2015-07-29 00:00:00    1
2013-08-01 00:00:00    1
2014-12-31 00:00:00    1
2014-12-24 00:00:00    1
2015-10-28 00:00:00    1
2016-07-20 00:00:00    1
2017-08-02 00:00:00    1
2015-12-10 00:00:00    1
2013-01-23 00:00:00    1
2017-12-20 00:00:00    1
2015-04-01 00:00:00    1
2015-11-11 00:00:00    1
2015-07-30 00:00:00    1
2014-07-30 00:00:00    1
2016-02-03 00:00:00    1
2015-01-01 00:00:00    1
2015-04-09 00:00:00    1
2015-02-17 00:00:00    1
Name: 개봉일, Length: 72, dtype: int64

In [27]:
df['개봉일'].max()

TypeError: '>=' not supported between instances of 'str' and 'datetime.datetime'